@model IEnumerable<MVC1153.Models.Employee>

<h2>Example 5</h2>
<h5>EmployeeRestAgg</h5>
<br />
<h3>
    List Of Employees
</h3>
<br />
<p>
    Total employees: @ViewBag.countAll
</p>
<p>
    Total Female employees: @ViewBag.countFemale
</p>
<p>
    Total Male employees: @ViewBag.countMale
</p>
<p>
    Average Salary employees: @ViewBag.AverageSalary.ToString("c2")
</p>
<p>
    Average Salary Male employees: @ViewBag.AverageSalaryMale.ToString("c2")
</p>
<p>
    Average Salary Female employees: @ViewBag.AverageSalaryFemale.ToString("c2")
</p>
<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Emp</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Start Date</th>
        <th>Campus</th>
        <th>Salary</th>
    </tr>
    @{int row = 1; }
    @foreach (var employee in Model)
    {
        <tr>
            <td>@row</td>
            <td>@employee.EmpId</td>
            <td>@employee.Name</td>
            <td>@employee.Gender</td>
            <td>@employee.Position</td>
            <td>@employee.StartDate.ToShortDateString()</td>
            <td>@employee.Campus</td>
            <td>@employee.Salary.ToString("c")</td>
        </tr>
        row++;
    }
</table>